html {
	font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
    margin-right: 15%;
    margin-top: 150px;
    margin-bottom: 50px;
	font-size: 4em;
}

h2 {
    margin-right: 15%;
    margin-top: 15px;
    margin-bottom: 25px;
	font-size: 2.10em;
}

h3 {
	margin-left: 10%;
    margin-right: 15%;
    margin-top: 15px;
    margin-bottom: 25px;
	font-size: 1.75em;
}

p {
	margin-left: 10%;
    margin-right: 15%;
    margin-top: 15px;
    margin-bottom: 25px;
	font-size: 1.15em;
}

#intro {
    margin-left: 10%;
    width: 60%;
    height: auto;
}